
html,body
{
    overflow-x: hidden; 
}

.flexbody {
    display: flex;
    min-height: 100vh;
    /* flex-direction: column; */
    background-color: rgb(228, 219, 212);
}

/* Fonts */

@font-face {
    font-family: 'mirtha_displayregular';
    src: url('./fonts/mirtha-display-regular-webfont.woff') format("woff"),
         url('./fonts/mirtha-display-regular-webfont.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'cyrano_demoregular';
  src: url('./fonts/cyrano_demo-webfont.woff2') format('woff2'),
       url('./fonts/cyrano_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h2 {
  font-family: 'cyrano_demoregular';
  font-size: 65px;
  color: rgb(41, 40, 40);
}

h3 {
  font-family: 'cyrano_demoregular';
  color: rgb(234, 237, 238);
  height: 25px;
  /* margin-bottom: 30%; */
}

h5 {
  font-family: 'mirtha_displayregular';
  color: rgb(234, 237, 238);
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.maincards {
  font-size: 35px;
}

h4 {
  font-family: 'mirtha_displayregular';
  color: rgb(8, 49, 49);
  font-size: 25px;
  /* padding-top: 10px; */
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

h6 {
  font-family: 'mirtha_displayregular';
  color: rgb(187, 181, 156);
  font-size: 20px;
  text-transform: uppercase;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

p {
  font-family: 'mirtha_displayregular';
  color: rgb(214, 218, 218);
  font-size: 45px;
  /* padding-top: 10px; */
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

/* Nav Bar */

/* nav {
    background: #222;
    display: flex;
    height: 11vh;
    
}

.menuLink {
  padding-left: 10px;
} */

.navbar {
  background-color: rgb(36, 35, 35);
  margin-top: -10px;
  height: 80px;
}

#navlogo {
  height: 40px;
  position: absolute;
  top: 10px;
  left: 47%;
}

/* .menu {
    display: flex;
    list-style-type: none;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    padding-top: 5px;
    font-family: 'cyrano_demoregular';
} */

.topslogan {
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 0px;
}

/* .item {
    display: flex;
    justify-content: flex-end;
    
}

a {
    color: white;
    text-decoration: none;
} */


/* START of Mobile Menu */
.nav, .desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
  justify-content: space-between;
}

.icon {
  position: absolute;
  cursor: pointer;
  top: 2%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: white;
  border-radius: 5px;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: fixed;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  /* background:rgb(228, 219, 212); */
  /* box-shadow: 0 2px 5px rgba(0,0,0,0); */
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: rgb(36, 35, 35);
  height: 105vh;
  position: fixed;
  width: 100%;
  top: -2%;
  z-index: 999;
  padding-top: 150px;
  text-align: center;
}

.menu-mobile, .menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: rgb(228, 219, 212);
  height: 80px;
  font-size: 100%;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: rgb(126, 228, 197);
}

.desktop, .menu-desktop, .menu-mobile {
      display: none;
  }

#feathermenu { 
    height: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* END OF Mobile Menu */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */
  .menu-desktop {
      width: 100%;
      display: block;
      padding: 0;
      line-height: 50px;
      justify-content: space-evenly;
      flex-direction: row;
      height: 0;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
  }

  .menu-desktop a {
      display: inline-flex;
      margin-right: 30px;
      height: 0;
      line-height: 50px;
      text-decoration: none;
      color: rgb(228, 219, 212);
      justify-content: space-evenly;
  }
  .menu-desktop a:hover {
    color: rgb(126, 228, 197);
  }

  .desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      display: block;
  }

  header.nav, .menu-mobile {
      display: none;
  }

  /* END of desktop menu for 768 media query */

}

/* Splash Pg */

.splashbody {
    background-color: rgb(26, 33, 36);
}

.splashvid {
    /* width: 100vw; */
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
 }

.splashlogo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 26vh;
  }

.enterbtn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15vh;
    margin-top: 5px;
  }


  /* Hero Banner */

  .hero {
    padding-top: 25%;
    padding-bottom: 30%;
    
}



 .videoSizeControl { 
   width: 100vw;
   position: absolute;
   top: 10vh;
   z-index: -4;
   
   }

/* Main page */

.description {
  display:flex;
  justify-content: center;
  padding: 5%;
}

.goldbutton {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .merchflex-containertropic .merchflex-left {
    margin-left: 20px;
  }

  .merchflex-containercelestica .merchflex-left {
    margin-left: 20px;
  }

  .merchflex-containertropic .merchflex-right {
    margin: 0px;
  }

  .merchflex-containercelestica .merchflex-right {
    margin: 0px;
  }

  .descriptionImage{
    width: 20%;
  }
  .splashvid {
    width: auto;
  }
  .splashlogo { 
    height: 100px;
  }
  .splashButton {
    height: 100px;
  }
  .goldbutton {
    height: 100px;
  }

}

.ingdescription {
  display:flex;
  justify-content: center;
  /* padding: 5%; */
}

.descriptionImage{
  width: 80%;
}

.ingPg {
  background-color: rgb(11, 18, 23);
}



@media only screen and (max-width: 768px) {
  .goldbutton {
    justify-content: center;
    margin-top: 0px;
    /* margin-bottom: 10vh; */
  }

}


.btnimg {
  height: 80px;
  margin-top: -100px;
}

.pagecenteredtext {
  display: flex;
  /* transform: translate(-50%); */
  /* left: 50%; */
  /* width: 60vw; */
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  
  
}

/* Hover Boxes */


.overlay.hover-box {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  /* grid-gap: 1.5%; */
  /* padding: 120px 5%; */
  max-width:1330px;
  margin:0 auto;
  margin-bottom: 20%;
}

.topcol {
  display: flex;
  justify-content: center;
  /* margin-bottom: 1%; */
}


.col{
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 50%;
  height: 30vw;
  max-height:380px;
  /* border-radius: 5px; */
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.col:hover{
  /*   Scale the box */
  /* transform: scale(1.1); */
  box-shadow:0 16px 32px 0 rgba(0,0,0,.24);
  opacity: 70%;
  transition: 0.5s;
}

.box{
  position:relative;
  display:flex;
  /* align-items:flex-end; */
  justify-content:center;
  width:100%;
  text-decoration:none;
}

.box:after{
  content:'';
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.835171568627451) 0%, rgba(0,0,0,0.3029586834733894) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.box img{
  position: absolute;
  top: -3%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  z-index:1;
  transform: scale(1.2);
  transition: top 0.3s linear;
}


.box h5{
  font-family: 'cyrano_demoregular';
  color: #fff;
  z-index: 4;
  padding-top: 40%;
  text-align: center;
  text-decoration:none!important; 
  font-size: 30px;
  pointer-events: none;
}

/* Hover animation */
.box img:hover {
  /*   Moves the image down */
  top: 5%;
}



/* Banners */

.banners {
  width: 40vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

#elixirbannerImg {
  width: 90vw;
}

.banners:hover{
  /*   Scale the box */
  /* transform: scale(1.1); */
  box-shadow:0 16px 32px 0 rgba(15, 53, 58, 0.24);
  opacity: 80%;
  transition: 0.5s;
}



/* Footer */

* {
    box-sizing: border-box;
    margin-top: 10px; 
    padding: 0px;
}
ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: rgb(14, 40, 43);
    color: #bbb;
    line-height: 1.0;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: none;
}
.ft-title {
    color: #fff;
    font-family: 'cyrano_demoregular';
    font-size: 1.5rem;
    padding-bottom: 50%;
    padding-top: 10px;
}

.ft-main {
    /* padding: 1.25rem 1.875rem; */
    display: flex;
    width: 100vw;
  
    
}
.ft-main-item {
    padding: 5%;
    min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #7e7e73;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px rgb(14, 40, 43) solid; 
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(31, 30, 30);
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}

/* Subpages */

.pagetitle {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.ingtitle {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  
}

.ingcenteredtext {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
} 
  

.dividerfeather {
  display: flex;
  justify-content: center;
  margin-left: 47%;
  margin-top: 2%;
  width: 5vw;
}

.pgbanner {
  /* padding-left: 24%; */
  width: 100vw;
  margin-top: -15px;
}

.btmbanner {
  width: 100vw;
  margin-top: -20px;
  margin-bottom: -13px;
}

.merchflex-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.merchflex-containercelestica {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: 0px;
  background-color: rgb(6, 28, 41);
  height: 80vh;
  align-items: center;
  padding-bottom: 20px;
}

.merchflex-containertropic {
  display: flex;
  flex-direction: row;
  margin-top: -25px;
  margin-bottom: 0px;
  background-color: rgb(35, 36, 36);
  height: 80vh;
  align-items: center;
}

.merchflex-containerlast {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 50vh;
}

.merchflex-left {
  width: 45%;
  height: 300px;
  margin: 5px;
  margin-left: 200px;
  padding-top: 10px;
  margin-right: 20px;  
}

.merchflex-right {
  width: 40%;
  margin: 5px;
  margin-left: 20px;

}

.productimg {
  width: 30vw;
}

/* Image Cropping */

.image-cropper {
  max-width: 150px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.image-cropper img{
  display: block;
  margin: 0 auto;
  height: 60%;
  width: 100%; 
  /* margin: 0 0 0 20%; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;  
}

/* MEYER RESET */

/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
/* div, */
span,
applet,
object,
iframe,
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a, */
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
/* img, */
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
/* center, */
dl,
dt,
dd,
ol,
/* ul, */
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
/* footer, */
/* header, */
hgroup,
/* menu, */
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
/* nav, */
/* section {
  display: block;
} */
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 



/* For tablets: */
@media only screen and (max-width: 768px) {
  .hover-box{
    flex-wrap:wrap;  
  }
  
  .col{
    flex:unset;
    width:48%;
    margin-bottom:15px;
    height:150px;
  }
  
  .box h5 {
    padding-top: 25%;
  }

   .merchflex-containercelestica {
    display: flex;
    flex-direction: column-reverse;
    height: -10vh;
  }
  
  .merchflex-containercelestica .merchflex-left {
    width: 80vw;
  }

  .merchflex-containertropic {
    display: flex;
    flex-direction: column-reverse;
    height: -10vh;
  }

  .merchflex-container {
    display: flex;
    flex-direction: column-reverse;
    height: -10vh;
    justify-content: center;
    align-items: center;
  }

  .merchflex-container .merchflex-left {
    margin-left: 0px;
  }

  .merchflex-containertropic .merchflex-left {
    width: 80vw;
  }

  
  .box img{
    top: 10%;
  }

  .productimg {
    width: 80%; 
  }
  .ft-main {
    padding: 4rem 4rem;
    display: flex;
    flex-wrap: wrap;
}

/* For mobile phones: */ 
@media only screen and (max-width: 500px){
  footer {
    position: static;
  }
  /*   One column */
  .overlay.hover-box {
    grid-gap: 1.5vw;
    display: flex;
    flex-flow:column nowrap;
  }

  .col{
    width: 100%;
    max-height:380px;
    height: 80vw;
  }
  
  .box img{
    /* top: 10%; */
  }

  .col:last-child {
    margin-bottom: 0;
  }
  
  .box h5{
    color: #fff;
    z-index: 4;
    text-align: center;
    text-decoration:none!important;
    font-size: 8vw;
    padding-top: 43%;
  }

  .topslogan {
    font-size: 20px;
  }
  .ft-main {
    padding: 4rem 4rem;
    display: flex;
    flex-wrap: wrap;
}
}


/* @media (min-device-width: 576px) and (max-device-width: 1024px) and (orientation: landscape)  {
  footer {
    position: static;
  }
} */