
html,body
{
    overflow-x: hidden; 
}

.flexbody {
    display: flex;
    min-height: 100vh;
    /* flex-direction: column; */
    background-color: rgb(228, 219, 212);
}

/* Fonts */

@font-face {
    font-family: 'mirtha_displayregular';
    src: url('/fonts/mirtha-display-regular-webfont.woff') format("woff"),
         url('/fonts/mirtha-display-regular-webfont.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'cyrano_demoregular';
  src: url('/fonts/cyrano_demo-webfont.woff2') format('woff2'),
       url('/fonts/cyrano_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.h3 {
  font-family: 'cyrano_demoregular';
  color: rgb(234, 237, 238)
  height: 15px;
}

.h5 {
  font-family: 'mirtha_displayregular';
  color: rgb(234, 237, 238)
  height: 20px;
}

/* Nav Bar */

nav {
    background: #222;
    display: flex;
    height: 10vh;
    
}

.menu {   
    list-style-type: none;
    
}

#navbar {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    padding-top: 5px;
    font-family: 'CaviarDreams';
}

.item {
    display: flex;
    justify-content: flex-end;
    
}

a {
    color: white;
    text-decoration: none;
}

/* Splash Pg */

.splashbody {
    background-color: rgb(26, 33, 36);
}

.splashvid {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    
 }

.splashlogo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 26vh;
  }

.enterbtn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15vh;
    margin-top: 5px;
  }


  /* Hero Banner */

  .hero {
    padding-top: 25%;
    padding-bottom: 30%;
    
}



 .videoSizeControl { 
   width: 100vw;
   position: absolute;
   top: 10vh;
   z-index: -4;
   
   }

/* Main page */

.description {
  display:flex;
  justify-content: center;
  height: 50vh;
  margin-top: 8%;
  /* margin-left: 20%; */
  margin-bottom: 8%;
  padding: 5%;
  
}

hr {
  color:rgb(26, 33, 36);
  padding: 10%;
  margin-top: 10%;
  margin-bottom: 20%;
  width: 60%;
}

/* Hover Boxes */


.overlay.hover-box {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  /* grid-gap: 1.5%; */
  /* padding: 120px 5%; */
  max-width:1330px;
  margin:0 auto;
  margin-bottom: 20%;
}

.topcol {
  display: flex;
  justify-content: center;
  /* margin-bottom: 1%; */
}


.col{
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 50%;
  height: 30vw;
  max-height:380px;
  /* border-radius: 5px; */
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.col:hover{
  /*   Scale the box */
  /* transform: scale(1.1); */
  box-shadow:0 16px 32px 0 rgba(0,0,0,.24);
  opacity: 70%;
  transition: 0.5s;
}

.box{
  position:relative;
  display:flex;
  /* align-items:flex-end; */
  justify-content:center;
  width:100%;
  text-decoration:none;
}

.box:after{
  content:'';
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.835171568627451) 0%, rgba(0,0,0,0.3029586834733894) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.box img{
  position: absolute;
  top: -3%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  z-index:1;
  transform: scale(1.2);
  transition: top 0.3s linear;
}


.box h5{
  font-family: 'cyrano_demoregular';
  color: #fff;
  z-index: 4;
  padding-top: 40%;
  text-align: center;
  text-decoration:none!important; 
  font-size: 30px;
  pointer-events: none;
}

/* Hover animation */
.box img:hover {
  /*   Moves the image down */
  top: 5%;
}



/* For tablets: */
@media only screen and (max-width: 768px) {
  .hover-box{
    flex-wrap:wrap;  
  }
  
  .col{
    flex:unset;
    width:48%;
    margin-bottom:15px;
    height:150px;
  }
  
  .col:nth-last-child(1, 2) {
    margin-bottom: 0;
  }
  
  .box img{
    top: 10%;
  }
}

/* For mobile phones: */ 
@media only screen and (max-width: 500px){
  /*   One column */
  .overlay.hover-box {
    grid-gap: 1.5vw;
    /* padding: 15px 5%; */
    display: flex;
    flex-flow:column nowrap;
  }

  .col{
    width: 100%;
    max-height:380px;
    height: 80vw;
  }
  
  .box img{
    /* top: 10%; */
  }

  .col:last-child {
    margin-bottom: 0;
  }
  
  .box h5{
    color: #fff;
    z-index: 4;
    padding: 10%;
    text-align: center;
    text-decoration:none!important;
    font-size: 5vw;
  }
}

/* Banners */

.banners {
  width: 40vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

#elixirbannerImg {
  width: 90vw;
}

.banners:hover{
  /*   Scale the box */
  /* transform: scale(1.1); */
  box-shadow:0 16px 32px 0 rgba(15, 53, 58, 0.24);
  opacity: 80%;
  transition: 0.5s;
}



/* Footer */

* {
    box-sizing: border-box;
    margin-top: 10px; 
    padding: 0px;
}
ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: rgb(14, 40, 43);
    color: #bbb;
    line-height: 1.0;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: none;
}
.ft-title {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 0.625rem;
    padding-top: 10px;
}

.ft-main {
    /* padding: 1.25rem 1.875rem; */
    display: flex;
    width: 100vw;
  
    
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #7e7e73;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px rgb(14, 40, 43) solid; 
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(31, 30, 30);
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}


/* MEYER RESET */

/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
/* div, */
span,
applet,
object,
iframe,
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a, */
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
/* img, */
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
/* center, */
dl,
dt,
dd,
ol,
/* ul, */
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
/* footer, */
/* header, */
hgroup,
/* menu, */
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
/* section {
  display: block;
} */
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 